
<hr>

<div>
  <div>
    <h2>
      Add a new budget
    </h2>

    <form action="/insert_budget" method="post">
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount" placeholder="$0">
      </div>

      <div>
        <label for="category_id_box">Category</label>

        <select id="category_id_box" name="query_category_id">
          <% Category.all.order({:name => :asc}).each do |a_category|%>
            <option value="<%= a_category.id %>">
              <%= a_category.name %>
            </option>
          <% end %>
        </select>
        <a href="/categories">Add a new category</a>
      </div>

      <!--div>
        <label for="alert_percentage_box">
          Alert percentage
        </label>

        <input type="text" id="alert_percentage_box" name="query_alert_percentage">
      </div-->

      <button type="submit" class="btn btn-info">
        Create budget
      </button>
    </form>
  </div>
</div>

<hr>
  <%= search_form_for @q do |f| %>
    <h2>Filter your budget:</h2>
      <p>
        <div>
          
            
          <%= f.label :category_name_eq, "Category" %>
          <%= f.select :category_name_eq, options_from_collection_for_select(Category.all, :name, :name, @q.category_name_eq), { :include_blank => true } %>

              
          <%= f.label :date_gteq, "Start Date" %>
          <%= f.date_field :date_gteq, :placeholder => "Enter start date" %>
        
          <%= f.label :date_lteq, "End date" %>
          <%= f.date_field :date_lteq, :placeholder => "Enter end date" %>

          <%= f.submit :class => "btn btn-info" %>

          <a href="/budgets" class="btn btn-warning active" role="button" aria-pressed="true">Clear filters</a>
        </div>
      </p>  
  <% end %>

  <div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>
            Date
          </th>

          <th>
            Amount
          </th>

          <th>
            Category
          </th>

          <!--th>
            Alert percentage
          </th-->

          <th>
            Update
          </th>

          <th>
            Delete
          </th>

        </tr>

        <% @list_of_budgets.each do |a_budget| %>
        <tr>
          <td>
            <%= a_budget.date %>
          </td>

          <td>
            <%= a_budget.amount %>
          </td>

          <td>
            <%= a_budget.category.name %>
          </td>

          <!--td>
            <%= a_budget.alert_percentage %>
          </td-->

          <td>
            <a href="/budgets/<%= a_budget.id %>">
              Update
            </a>
          </td>

          <td>
            <a href="/delete_budget/<%= a_budget.id %>">
              Delete
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<hr>
