<div>
  <div>
    <h1>
      <%= @the_budget.category.name %> budget on <%= @the_budget.date %>: $<%= @the_budget.amount %>(Alert:<%= @the_budget.alert_percentage %>%)
    </h1>

    <div>
      <div>
        <a href="/budgets">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_budget/<%= @the_budget.id %>">
          Delete budget
        </a>
      </div>
    </div>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit budget
    </h2>

    <form action="/modify_budget/<%= @the_budget.id %>"  method="post" >
      <div>
        <label for="date_box">Date</label>
        <input type="date" id="date_box" name="query_date" value="<%= @the_budget.date %>">
        
        <label for="amount_box">Amount</label>
        <input type="text" id="amount_box" name="query_amount" value="<%= @the_budget.amount %>">

        <label for="alert_percentage_box">Alert percentage</label>
        <input type="text" id="alert_percentage_box" name="query_alert_percentage" value="<%= @the_budget.alert_percentage %>">
        
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_budget.user_id %>">
        <input type="hidden" id="category_id_box" name="query_category_id" value="<%= @the_budget.category_id %>">

        <button>Update budget</button>
      
      </div>
    </form>
  </div>
</div>

<hr>
