<div>
  <div>
    <h1>
      List of all expenses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new expense
    </h2>

    <form action="/insert_expense" method="post">
      <div>
        <label for="date_box">Date</label>
        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="category_id_box">Category</label>
        <select id="category_id_box" name="query_category_id">
          <% Category.all.order({:name => :asc}).each do |a_category|%>
            <option value="<%= a_category.id %>">
              <%= a_category.name %>
            </option>
          <% end %>
        </select>
        <a href="/categories">Add a new category</a>
      </div>

      <div>        
        <label for="business_id_box">Business</label>
        <select id="business_id_box" name="query_business_id">
          <% Business.all.order({:name => :asc}).each do |a_business|%>
            <option value="<%= a_business.id %>">
              <%= a_business.name %>
            </option>
          <% end %>
        </select>
        <a href="/businesses">Add a new business</a> 
      </div>  


      <div>        
        <label for="amount_box">Amount</label>
        <input type="text" id="amount_box" name="query_amount" placeholder="$0.00">
      </div>

      <div>
        <button>Create expense</button>
      </div>

      
    </form>
  </div>
</div>

<hr>

  <%= search_form_for @q do |f| %>
    <h2>Filter your expenses:</h2>
      <p>
        <div>
          
            
          <%= f.label :category_name_eq, "Category" %>
          <%= f.select :category_name_eq, options_from_collection_for_select(Category.all, :name, :name, @q.category_name_eq), { :include_blank => true } %>

          <%= f.label :business_name_eq, "Business" %>
          <%= f.select :business_name_eq, options_from_collection_for_select(Business.all, :name, :name, @q.business_name_eq), { :include_blank => true } %>
          
          <%= f.label :date_gteq, "Start Date" %>
          <%= f.date_field :date_gteq, :placeholder => "Enter start date" %>
        
          <%= f.label :date_lteq, "End date" %>
          <%= f.date_field :date_lteq, :placeholder => "Enter end date" %>

          <%= f.submit :class => "btn btn-primary btn-block" %>

          <a href="/expenses">Clear filters</a>
        </div>
      </p>  
  <% end %>
  <div>
    <div>
      <table border="1">
        <tr>
          
          <th>
            Date
          </th>

          
          <th>
            Category
          </th>

          <th>
            Business
          </th>

          <th>
            Amount
          </th>

          <th>
            Update
          </th>

          <th>
            Delete
          </th>
        </tr>

        <% @list_of_expenses.each do |an_expense| %>
        <tr>
          <td>
            <%= an_expense.date %>
          </td>

          <td>
            <%= an_expense.category.name %>
          </td>

          <td>
            <%= an_expense.business.name %>
          </td>

          <td>
            <%= an_expense.amount %>
          </td>

          <td>
            <a href="/expenses/<%= an_expense.id %>">
              Edit
            </a>
          </td>

          <td>
            <a href="/delete_expense/<%= an_expense.id %>">
              Delete
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

<hr>
