<div>
  <div>
    <h1>
      <%= @the_expense.category.name%> expense (<%= @the_expense.business.name%>) on <%= @the_expense.date%>: $<%= @the_expense.amount%> 
    </h1>

    <div>
      <div>
        <a href="/expenses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_expense/<%= @the_expense.id %>">
          Delete expense
        </a>
      </div>
    </div>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit expense
    </h2>

    <form action="/modify_expense/<%= @the_expense.id %>"  method="post" >
      <div class="form-group">
        <label for="date_box">Date</label>
        <input type="date" id="date_box" name="query_date" value="<%= @the_expense.date %>">
        
        <label for="amount_box">Amount</label>
        <input type="text" id="amount_box" name="query_amount" value="<%= @the_expense.amount %>">
      
        <input type="hidden" id="category_id_box" name="query_category_id" value="<%= @the_expense.category_id %>"> 
        <input type="hidden" id="business_id_box" name="query_business_id" value="<%= @the_expense.business_id %>">
      
        <button type="submit" class="btn btn-info">Update expense</button>
      </div>
    </form>
  </div>
</div>

<hr>
