<div>
  <div>
    <h1>
      Expense #<%= @the_expense.id %> details
    </h1>

    <div>
      <div>
        <a href="/expenses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_expense/<%= @the_expense.id %>">
          Delete expense
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Date
      </dt>
      <dd>
        <%= @the_expense.date %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_expense.user_id %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_expense.category_id %>
      </dd>

      <dt>
        Business
      </dt>
      <dd>
        <%= @the_expense.business_id %>
      </dd>

      <dt>
        Amount
      </dt>
      <dd>
        <%= @the_expense.amount %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_expense.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_expense.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit expense
    </h2>

    <form action="/modify_expense/<%= @the_expense.id %>"  method="post" >
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_expense.date %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_expense.user_id %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_expense.category_id %>">
      </div>

      <div>
        <label for="business_id_box">
          Business
        </label>

        <input type="text" id="business_id_box" name="query_business_id" value="<%= @the_expense.business_id %>">
      </div>

      <div>
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="query_amount" value="<%= @the_expense.amount %>">
      </div>

      <button>
        Update expense
      </button>
    </form>
  </div>
</div>

<hr>
