<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


  </head>

  <body>
        
    <% if @current_user == nil %>
      <h1>Welcome to the expense tracker!!</h1>
    <% else %>
      <h1>Hello, <%= @current_user.first_name %>!! Welcome to your expense tracker!!</h1>
    <% end %>

    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice%>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alert%>
      </div>
    <% end %>


    <ul class="nav">
      <% if @current_user == nil %>
        <!--li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li-->
        
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">Sign up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user_sign_in">Sign in</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_out">Sign out</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/edit_user_profile">Edit Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/budgets">Budgets</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/expenses">Expenses</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/businesses">Businesses</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      <% end %>
    </ul>


    
      
  
    <%= yield %>
  
  </body>
</html>
